*{
    font-family: sans-serif;
}
.carousel
.carousel-heading{
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif !important;;
    font-size: 80px;
    font-weight: 400;
    margin-top: 150px;
    
}

.carousel-text{
    font-size: 26px;
    width: 500px;
    margin: 50px 0;
    font-weight: 300;
}

.carousel-button{
    font-size: 22px;
    border: 0;
    background-color: black;
    color: white;
    padding: 10px;
    width: 250px;
    border-radius: 50px;
}
.carousel{
    /* background-color: pink; */
    width: 90%;
    
    /* padding: 0px 20px; */
}
.carouselParent{
    display: flex;
            justify-content: center;
            /* justify-items: center; */
            /* height: 530px; */
            position: absolute;
            padding-bottom: 50px;
            width: 100%;
            top: 0;
            left: 0;
            background-color:#FFC017;
            
            z-index: -1;
}
@media screen and (max-width:727px) {
    .carousel
    .carousel-heading{
        font-size: 70px;
    } 
    .carousel-text{
        font-size: 24px;
        width: 95%;
        padding: 0;
    }
}
@media screen and (max-width:380px) {
    .carousel
    .carousel-heading{
        font-size: 50px;
    } 
}