.nav_parent{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #FFC017;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);

}
#navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 93%;
}

.nav-logo{
    width: 200px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    /* margin-left: -100px; */
}

.nav-links{
    /* border: 1px solid orange; */
    /* width: 500px; */
    display: flex;
    gap: 20px;
    /* justify-content: space-around; */
    align-items: center;
}

.nav-item{
    /* border: 1px solid black; */
    /* height: 20px; */
    text-decoration: none;
    /* font-size: 20px; */
}

.nav-item:link{
    color: black;
}

.nav-item:visited{
    color: black;
}

.get-started{
    /* height: 30px;
    width: 90px; */
    /* font-size: 16px; */
    background-color: black;
    color: white;
    border: 0px;
    /* position: relative; */
    border-radius: 50px;
    padding: 10px 20px;
}

.get-started:hover{
    cursor: pointer;
}

.nav-image{
    height: 50%;
    width: 80%;
    /* border: 1px solid black; */
    background-image: url("https://miro.medium.com/v2/resize:fit:8978/1*s986xIGqhfsN8U--09_AdA.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 0;
}
@media screen and (max-width:727px) {
    .nav-item{
        display: none;
    }
    
}