.scrollingParent{
    /* height: 1000px; */
    /* height: auto; */
    width:99.5%;
    /* background-color: blue; */
    border-top: 1px solid #F2F2F2;
    position: absolute;
    top: 55rem;
    display:flex;
    justify-content:center;
    padding-top: 50px;
    

}
.scrollingChilds{
    display:grid;
    grid-template-columns:66% 34%;
    /* grid-template-columns: auto 34%; */
    /* justify-content: space-between; */
    width:90%;
    height:100%;
    /* background-color:purple; */
}

.scrollingPart{
    display: flex;
    flex-direction: column;
    gap:20px;
    height:100%;
    /* background-color:orange; */
}
.cardContainer{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
}
.cardParent{
    /* background-color: orange; */
    display: flex;
    grid-template-columns: auto 34%;
    gap: 4%;
    position: relative;
    /* width: 100%; */
    /* flex-direction: column; */
}
.card{
    /* background-color: pink; */
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.card .title{

        /* background-color: purple; */
        display: flex;
        gap: 10px;
        align-items: center;
}
.card .title .pic{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*nAnbrKe69CgR94fn8i1WqQ.jpeg");
    
}
.card .title .pic1{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/0*9mIq15P_dFCs30H5");
}
.card .title .pic2{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*aPis1XKDqBxBUk6JoUiayA.png");
}
.card .title .pic3{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/0*1twDqphdXhuLtvJX.jpg");
}
.card .title .pic4{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*nAnbrKe69CgR94fn8i1WqQ.jpeg");
}
.card .title .pic5{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/0*jCwjRlVcC8o-gK-3.jpeg");
}
.card .title .pic6{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*5D9oYBd58pyjMkV_5-zXXQ.jpeg");
}
.card .title .pic7{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*sHhtYhaCe2Uc3IU0IgKwIQ.png");
}
.card .title .pic8{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*9zLYQ1N7dMo1OWQN_POPgg.png");
}
.card .title .pic9{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*rt1mE2Q0rmKsUcJX2ewFoA.png");
}
.card .title .pic10{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*RsfhVK8tQW9TPv-Q_2YtRw.png");
}
.card .title .pic11{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*cDDoEEOzv9lBdN13OnxRIw.jpeg");
}
.card .title .pic12{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*4B1_1F-3oPiNlS6T_aBwWA.png");
}
.card .title .pic13{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*YbpU49c7mglIVxhoKXuqVw.png");
}
.card .title .pic14{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*mDhF9X4VO0rCrJvWFatyxg.png");
}
.card .title .pic15{
    background-image: url("https://miro.medium.com/v2/resize:fill:40:40/1*xQ2Vj5As89JnmL6H50JYKg.png");
}

.card .title .name,.card .DateText{
    font-size: 12px;
    font-weight: 600;
}
.card .DateText{
    color: #242424;
}
.card .heading{
    font-size: 18px;
    font-weight: 700;
}
.imgSection{
    height: 134px;
    width: 200px;
    background-color: blanchedalmond;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("https://miro.medium.com/v2/resize:fill:200:134/1*GkorW3xTNkXuXThusqbJzg.jpeg");
}
.imgSection1{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*xFiPAeyD2VLJYqymsylVqQ.jpeg");
}
.imgSection2{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*L6AhpVRVVxaqMid-bIJd1Q.png");
}
.imgSection3{
    background-image: url("https://miro.medium.com/v2/da:true/resize:fill:400:268/0*OIzdaFOQ_pzhVv_N");
}
.imgSection4{
    background-image: url("https://miro.medium.com/v2/resize:fill:200:134/1*GkorW3xTNkXuXThusqbJzg.jpeg");
}
.imgSection5{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*5-_WIJWzWA5FBwRzmwBcKw.jpeg");
}
.imgSection6{
    background-image: url("https://miro.medium.com/v2/da:true/resize:fill:400:268/1*jDgxfrxa6FoWb5e0VAFt-w.gif");
}
/* .imgSection7{
    background-image: url("https://miro.medium.com/v2/resize:fill:200:134/1*GkorW3xTNkXuXThusqbJzg.jpeg");
} */
.imgSection8{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*GMJbh_oQK_wO26A1VB7zMA.jpeg");
}
.imgSection9{
    background-image: url("https://miro.medium.com/v2/da:true/resize:fill:400:268/0*8QQk-MfU-rylqsGH");
}
.imgSection10{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/0*IehneBNDnM0BoKZf.jpeg");
}
.imgSection11{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*3IcTfY6F7SFA2ys0aufuEg.jpeg");
}
.imgSection12{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*cLczw913nHBiE4zpRn-QGA.png");
}
.imgSection13{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*NeAIOFBAuB5T33T-btTlyQ.jpeg");
}
.imgSection14{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/1*DJOLQ7gvg8nyVzWPWPbunw.jpeg");
}
.imgSection15{
    background-image: url("https://miro.medium.com/v2/resize:fill:400:268/0*cpo4BkH-JSLZopKm.png");
}
.fixed{
    height:500px;
    width: 90%;
    /* background-color:red; */
    position:sticky;
    top:80px;
    visibility: visible;    
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.fixed h4{
    font-size: medium;
}
.fixed .btnGroups,.fixed .btnGroups-2{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btn{
    font-size: small;
    background-color: #F2F2F2;
    padding: 10px 15px;
    border-radius: 50px;
    /* font-weight: 550; */
}
.fixed .btnGroups-2 .btn{
    background-color: white;
    color: #6B6B6B;
    padding: 5px 10px;
}
.fixed .topic{
    color: #1A8917;
    padding: 10px 0px 30px 0px;
    font-size: 14px;
}
.fixed .topic:link{
    text-decoration: none;
}
.fixed .topic:hover{
    color: black;
}
@media screen and (max-width:904px) {
    .fixed{
        /* visibility: hidden; */
        position: absolute;
        top:0px;
        width: 90.5%;
        /* height: 5%; */
        height: auto;
    }
    .scrollingChilds{
        position: relative;
        /* top:10rem; */
        /* position: absolute; */
    }
    .cardContainer{
        position: relative;
        top:12rem
    }

    .scrollingChilds{
        /* background-color: green; */
        grid-template-columns:100%;
        width:90%;
    }
    .cardContainer{
        width: 100%;
    }
    .cardParent{
        grid-template-columns: auto;
    }
}


@media screen and (max-width:728px) {
    .imgSection{
        width:150px;
        height:110px;
    }
    
    .card .heading{
        font-size: 16px;
    }
    .card .about{
        display: none;
    }
    .scrollingParent{
        
        top:80rem;
        /* position: relative; */
    }
    .fixed{
        width: 85%;
    }
    
}

@media screen and (max-width:440px) {
    .imgSection{
        width:150px;
        height:110px;
    }
    
    .card .heading{
        font-size: 16px;
    }
    .card .about{
        display: none;
    }
    .scrollingParent{
        /* background-color: blue; */
        top:86rem;
        /* position: relative; */
    }
    .fixed{
        padding: 0;
        margin: 0;
        width: 100%;
        /* background-color: pink; */
    }
    .cardContainer{
        /* background-color: red; */
        /* position: relative; */
        /* gap: 50px; */
        top:23rem
    }
    .scrollingPart{
        gap: 30px;
    }
}

@media screen and (min-width:728px) and (max-width:1079px){
    .scrollingParent{
        
        top:61rem;
        /* position: relative; */
    }
}
