.trending-articles{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 430px;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
}
.articles-list{
    /* background-color: red; */
    padding-top: 20px;
    margin: auto;
    width: 90%;
    display: grid;
    justify-content: space-between;
    gap: 40px 0;

}

.trendingLogo{
    border-radius: 50%;
    background-color: orange;
}
.trending-articles .para{
    width: 90%;
    display:flex;
    align-items: center;
    font-weight: bold; 
    gap: 10px;
}
.article{
    display: flex;
    gap: 10px;
}

.ArticleChild_Num{
    /* background-color: red; */
    font-weight: 600;
    font-size: 32px;
    color: #F2F2F2;
    padding-right: 10px;
}
.ArticleChild_card{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.ArticleChild_card .title{
    /* background-color: purple; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.ArticleChild_card .title .pic{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    border-radius: 50px;
    
}
.ArticleChild_card .title .pic1{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*mDhF9X4VO0rCrJvWFatyxg.png");
}
.ArticleChild_card .title .pic2{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*dW7qLkQ8tkJk0GY7swQiSA@2x.jpeg");
}
.ArticleChild_card .title .pic3{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*Iyg9i8keCiu-u3YMhGalHQ.jpeg");
}
.ArticleChild_card .title .pic4{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*tlSJZopCPn4cndd9KrDLPg.png");
}
.ArticleChild_card .title .pic5{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*k6adZm3uTGISccg7GHzyVQ.png");
}
.ArticleChild_card .title .pic6{
    background-image: url("https://miro.medium.com/v2/resize:fill:20:20/1*aPBTW9YeJcaisqQ46LWf6Q.jpeg");
}


.ArticleChild_card .title .name,.ArticleChild_card .DateText{
    font-size: 12px;
    font-weight: 600;
}
.ArticleChild_card .DateText{
    color: #242424;
}
.ArticleChild_card .question{
    font-size: 16px;
    font-weight: 700;
}
.article{
    /* background-color: orange; */
    display: flex;
    position: relative;
    /* width: 33.33%; */
    flex-direction: column;
}

.article .mainContainer{
    /* background-color: red; */
    display: flex;
}
.article .hoverContainer{
    background-color: white;
    padding: 20px;
    border: 2px solid white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2), 0px -3px 10px rgb(0 0 0 / 0.2);

    border-radius: 5px;
    height: 190px;
    width: 75%;
    position:absolute;
    
    visibility: hidden;
    /* display: none; */
    z-index: 1;
}


.name:hover{
    cursor:pointer;
}


.name:hover .hoverContainer{
    /* background-color: red; */
    visibility: visible;
    /* display: block; */
}
.hoverText{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.14px;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    cursor: text;
    /* padding-bottom: 5px; */
}

.hoverText a:link{
    /* text-decoration: none; */
    color: black;
}
.hoverText a:visited{
    color: black;
}
.hoverText a:hover{
    cursor: pointer;
}
.hoverFooter{
    /* background-color: blue; */
    border-top: 1px solid #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding-top: 1em;
}

.hoverFooter button{
    padding:3px 10px;
    background-color: #156d12;
    color: white;
    outline: none;
    border: 1px solid #156D12;
    border-radius: 20px;
    cursor: pointer;
}
@media only screen and (max-width:727px){
    .articles-list{
        grid-template-columns: 100%;
    }
    .article .hoverContainer{
        width: 50%;
        top:-10em;
        right:-2em;
    }

}

@media screen and (max-width:1079px) and (min-width:728px){
    .articles-list{
        grid-template-columns: 50% 50%;
    } 
    .article-1 .hoverContainer,.article-3 .hoverContainer,.article-5 .hoverContainer{
        top:-10em;
        right:-12em;
    }
    .article-2 .hoverContainer,.article-4 .hoverContainer,.article-6 .hoverContainer{
        
        top:-10em;
        left:-12em;
    }
}

@media screen and (min-width: 1080px) {
    .articles-list{
        grid-template-columns: 33% 33% 33%;
    } 
    .article-1 .hoverContainer,.article-2 .hoverContainer,.article-4 .hoverContainer,.article-5 .hoverContainer{
        top:-10em;
        right:-12em;
    }
    .article-3 .hoverContainer,.article-6 .hoverContainer{
        
        top:-10em;
        left:-12em;
    }
}
